.first-page {
  display: flex;
  justify-content: center;
  align-items: center;

  &__button {
    border: 1px solid black;
    background-color: transparentize(grey, 0.8);

    &:hover {
      background-color: transparent;
    }
  }
}
