.feedback-form {
  max-width: 600px;

  &__additional-fields {
    display: flex;
    justify-content: space-between;
  }

  &__additional-field {
    display: flex;
  }

  &__plus-button-block {
    margin: 10px 0 10px 20px;
    display: flex;
  }

  &__plus-button {
    color: white;
    font-size: 30px;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: #f97305;
    box-shadow: 0 2px 10px black;

    &:hover {
      background-color: transparentize(#f97305, 0.5);
    }
  }
}
