th,
td {
  border: 1px solid grey;
  padding: 10px 20px;
  text-align: center;
}
th {
  background-color: transparentize(grey, 0.7);
}
.table {
  flex: 1;

  &__wrapper {
    display: flex;
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
  }

  &__row {
    display: flex;
  }
  &__column {
    &-checkbox {
      flex: 1;
    }
    &-id {
      flex: 2;
    }
    &-text {
      flex: 4;
    }
  }
}
