html,
body {
  padding: 0;
  margin: 0;

  & * {
    box-sizing: border-box;
  }
}

button,
input,
textarea {
  outline: none;
  border: none;
}

button {
  background: none;
  box-shadow: none;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
